/* .shopCart {
    display: flex;
    margin-left: 800px;
    position: absolute;
}

.start {
    margin-left: 150px;
    position: relative;
} */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 100;
    width: 100%;
    flex: 1;
}